@model IEnumerable<WebMVCApplication.ServiceReferenceShopBanGiayPro.user>
@{
    ViewBag.Title = "Đăng ký tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>
}

<div class="tieude-content">Đăng ký thành viên</div>
<div class="box-pro-home-registertuser">
    <div class="box-pro-home-registeruser-content">
@using (Html.BeginForm("RegisterUser", "Account"))
{
<table class="content-right-item-user">
    <tr>
        <td class="content-right-item-td">Tên đăng nhập:</td>
        <td>@Html.TextBox("txtusername")</td>
        </tr><tr>
        <td class="content-right-item-td">Mật khẩu:</td>
        <td>@Html.Password("txtpassword")</td>
    </tr>
    <tr>
        <td class="content-right-item-td">Họ tên:</td>
        <td>@Html.TextBox("txthoten")</td>
        </tr><tr>
        <td class="content-right-item-td">Giới tính nam:</td>
        <td>
            <select name="txtgioitinh">
                <option value="nam">Nam</option>
                <option value="nu">Nữ</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="content-right-item-td">Ngày sinh:</td>
        <td>@Html.TextBox("txtngaysinh")</td>
        </tr><tr>
        <td class="content-right-item-td">Địa chỉ:</td>
        <td>@Html.TextBox("txtdiachi")</td>
    </tr>
    <tr>
        <td class="content-right-item-td">SDT:</td>
        <td>@Html.TextBox("txtsdt")</td>
        </tr><tr>
        <td class="content-right-item-td">Hình:</td>
        <td><input id="hinh" name="hinh" type="text" /><input id="Browser" type="button" value="Chọn hình" /></td>
    </tr>
    <tr>
        <td class="content-right-item-td">Email:</td>
        <td>@Html.TextBox("txtemail")</td>
    </tr>
    <tr>
        <td><input type="submit" name="Insert" value="Đăng ký"/></td>
        <td><input type="reset" name="reset" value="Nhập lại" /></td>
    </tr>
</table>
}
</div>
</div>
<script lang="javascrip" type="text/javascript">
    $(function() {
        $("#Browser").click(function () {
            var ckfiner = new CKFinder();
            ckfiner.selectActionFunction = function (fileUrl) {
                $("#hinh").val(fileUrl);
            };
            ckfiner.popup();
        });
    });
</script>
